body {
    background: rgb(88, 119, 131);
}
/* Select by TAG type */
p {
    color:white;
}
/* Select by ID name (unique) */
#connor {
    background: black;
}
/* Select by CLASS name (shared styles) */
.uniform {
    color:purple;
}
h1, h2, h3, h4, h5, h6, h7 {
    color:white;
}
ul {
    color:white;
}
li{
    color:white;
}